.header-container{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 8px  rgb(148, 146, 146);
    background-color: white;
    z-index: 999;
}
.header-list{
    align-items: center;
    display: flex;
    gap: 60px;
}
.header-link-a{
    color: #8a2be2;
    font-family: Dancing Script, cursive;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
    padding-left: 15px;
    display: inline-block;
    border: none;
}
.header-link{
    display: inline-block;
    font-size: 18px;
    line-height: 25px;
    padding: 10px 15px;
    transition: .3s;
}
.header-btn{
    text-align: center;
    padding: 10px 20px;
    width: 100px;
    height: 40px;
    background-color: #8a2be2;
    border: 1px solid #8a2be2;
    font-size: 18px;
    color: #FFFF;
}
.header-btn:hover{
    transform: scale(0,9);
    transition: 2s;
    background: transparent;
    color: #8a2be2;
    border: 1px solid #8a2be2;
}
.header-link-b{
    width: 80px;
    height: 80px;
    margin-right: 50px;
    margin-top: 20px;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  @media(max-width:1200px){
    .container{
        width: 1100px;
    }
    .header-link{
        font-size: 16px;
    }
    .header-list{
        gap: 20px;
    }
    .header-link-b{
       margin-right: 20px;
    }
    .header-btn{
        padding: 9px 15px;
        margin-right: 30px;
    }
  
  }
  @media(max-width:1120px){
  .container{
      width: 1000px;
  }
  
  }
  @media(max-width:1020px){
  .container{
      width: 900px;
  }
  
  
  
  
  }
  @media(max-width:920px){
  .container{
      width: 800px;
  }
  
  }
  @media(max-width:820px){
  .container{
      width: 700px;
  }
  
  
  
  }
  @media(max-width:720px){
  .container{
      width: 600px;
  }
  
  
  
  }
  
  @media(max-width:620px){
  .container{
      width: 500px;
  }
  .header__text{
    width: auto;
  
  }
  
  
  
  }
  @media(max-width:520px){
  .container{
      width: 400px;
  }
  
  
  }
  @media(max-width:420px){
  .container{
      width: 300px;
  }
  .header__btn{
    margin-top: 20px;
  }
  
  
  
  
  
  }
  
  @media(max-width:320px){
  
  }