.layout{
    background-color: #8a2be2;
    margin-top: 20px;
}
.layout-list{
    display: flex;
    gap: 22px;
}
.layout-link{
    color: #FFFF;
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    padding: 10px 15px;
    transition: .5s;
}
.layout-link:active{
    background: #FFFF;
    color:#8a2be2;
}
