.layout{
    background-color: #8524e0;
    margin-top: 20px;
}
.layout-list{
    display: flex;
    gap: 22px;
}
.layout-link{
    color: #e7e3e3;
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
    padding: 10px 14px;
    transition: .5s;
}
.layout-link:active{
    background: #ffffff;
    color:#8a2be2;
}

